[parameters]
name=Phreeze PureCSS
description= PureCSS A set of small, responsive CSS modules that you can use in every web project.

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
