[parameters]
name=Phreeze Swagger
description= Swagger™ is to define a standard, language-agnostic interface to REST APIs which allows both humans and computers to discover and understand the capabilities of the service without access to source code, documentation, or through network traffic inspection

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
